<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li [in name="ACTION_NAME" value="index"] class="active"[/in]>
							<a href="<?php echo U('Index/index') ?>">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 管理中心 </span>
							</a>
						</li>

						<li [in name="ACTION_NAME" value="artadd,catlist,hsz"] class="active open"[/in] >
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 文章管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li [eq name="ACTION_NAME" value="artadd"] class="active"[/eq]>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										我的文章
									</a>
								</li>

								<li [eq name="ACTION_NAME" value="artadd"] class="active"[/eq]>
									<a href="<?php echo U('Admin/Article/artadd') ?>">
										<i class="icon-double-angle-right"></i>
										我要投稿
									</a>
								</li>

								<li [eq name="ACTION_NAME" value="catlist"] class="active"[/eq]>
								<a href="<?php echo U('Admin/Article/catlist') ?>">
									<i class="icon-double-angle-right"></i>
									文章分类
								</a>
								</li>

								<li [eq name="menu" value="hsz"] class="active"[/eq]>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										回收站
									</a>
								</li>

						  </ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-list"></i>
								<span class="menu-text"> 信息管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										我的空间
								  </a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										我的书架
								  </a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										我的好友
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										站内消息
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										留言板
									</a>
								</li>
							</ul>
						</li>
						
						<li [in name="ACTION_NAME" value="useradd,wdxs,hsz"]class="active open"[/in] >
							<a href="#" class="dropdown-toggle">
								<i class="icon-user"></i>
								<span class="menu-text"> 会员管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li [eq name="menu" value="wdxs"]class="active"[/eq]>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										会员列表
									</a>
								</li>

								<li [eq name="menu" value="wytg"]class="active"[/eq]>
									<a href="<?php echo U('Admin/User/useradd') ?>">
										<i class="icon-double-angle-right"></i>
										新增会员
									</a>
								</li>


						  </ul>
						</li>
						
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-edit"></i>
								<span class="menu-text"> 个人设置 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										基本信息
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										修改密码
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>头像设置</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										购买虚似币
									</a>
								</li>
								<li>
									<a href="{:U('Admin/User/logout')}">
										<i class="icon-double-angle-right"></i>
										退出登陆
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-tag"></i>
								<span class="menu-text"> 意见与帮助 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										提交建议
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-double-angle-right"></i>
										网站帮助
									</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="{:U('Admin/User/logout')}" class="dropdown-toggle" onClick="if(!confirm('你确定要退出吗?')){return false;}">
								<i class="icon-eject"></i>
								<span class="menu-text"> 退出 </span>
							</a>
						</li>
						
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>